*,
*:before,
*:after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #121314;
	color: #FFF;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400;
	font-size: 100%;/*
	overflow: hidden;*/

	width: 100%;
	height: 100%;
}

.body {
	background: #202020;
	color: #FFF;
}

.container {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

div.centered {
	width: 100%;
}

div.centered div.inner {
	margin: 100px auto;
	max-width: 500px;
	text-align: center;
}

h1 {
	font-size: 200%;
	padding: 0;
	margin: 0 0 10px 0;
	text-align: center;
}

p {
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 150%;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

a:focus {
	text-decoration: none !important;
	color: #FFF !important;
}

b {
	font-weight: inherit;
	color: #fff;
}

hr {
	display: block;
	border: none;
	border-top: 1px solid #222326;
	background-color: transparent;
	margin: 0 0 10px 0;
	clear: both;
}

.button, button {
  border-radius: 50px !important;
  border: none;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 70%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.button:focus {
	outline: none;
}

.button-dark {
  background: #1DB954;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.button-dark:hover {
    transition: all .1s ease-in-out;
    background: #25F66E;
    color: #FFF;
    text-decoration: none;
}

.button-light {
  background: #FFF;
  color: #1DB954;
}

#logout-button {
  background: #FFF;
  color: #1DB954;
  margin-left: 1em;
  cursor: pointer;
}

.button-light:hover {
    background: #E0E0E0;
    color: #1DB954;
    text-decoration: none;
}

#login-button {
	text-align: center;
}

#login-button:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.035);
	font-weight: 700;
}

#login-button:focus {
	outline: none !important;
}

#logout-button:hover {
	background: #E0E0E0;
}

img.user-img {
	max-width: 500px;
	max-height: 500px;
}

#display-name {
	font-size: 160%;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.header-group {
	position: absolute;
	height: auto;
	width: 100%;
	background-color: #171717;
	border-bottom: 1px solid #393b40;
	/*overflow: hidden;*/
	padding: 1em;

	font-size: 100%;

	display: flex;
	justify-content: space-between;

	z-index: 1;
}

.welcome a {
	width: auto;
	font-size: 160%;
	color: #FFF;
}

.welcome a:hover {
	text-decoration: none;
	color: #1DB954;
}

a:hover {
	text-decoration: none;
	color: #1DB954;
}

.profile-nav {
	width: 40%;
	display: flex;
	justify-content: flex-end;
}

.nav-button {
	margin-left: 1%;
}

.main {
	width: 100%;
	height: 100%;
	padding-top: 8%;
}

.playlists {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400;
	padding-top: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	/*margin-left: -9.5%;*/
	padding-left: 0px;
}

.playlist-nav {
	display: flex;
	justify-content: space-between;
	margin-left: 3%;
}

.searchbox input {
	outline: none;
	/*width: 180px;*/
	width: auto;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #000;
  -webkit-text-stroke: 1px #FFF;
}

/* align icon */
.left-addon .fa  { 
	left:  -6px;
	bottom: -2px;
}

/* add padding  */
.left-addon input  { 
	padding-left:  25px; 
	margin-left: -7%;
}

#main-title {
	font-weight: 600;
	letter-spacing: 1px;
}

input {
	border-radius: 50px;
	border: 'gray';
	padding-left: 0.5em;
}

input:focus {
	outline: none;
}

.pl-item {
	padding: 0;
	background: transparent;
	margin: 3%;
	margin-bottom: 0;
	width: auto;
	min-width: 150px;
	max-width: 300px;
	-webkit-filter: brightness(100%);
}

.pl-item img {
    width: 300px;
    height: 300px;
    min-width: 150px;
    min-height: 150px;
}

.playlist-cover {
	height: auto;
	padding: 0;
	margin: 0;
}

.pl-item:hover {
    -webkit-filter: brightness(50%);
    transition: all 0.2s ease;
}

.title-caption {
	width: 20vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	color: #FFF;
	padding-top: 0.5em;
	font-size: 120%;
}

#playlist-title {
	margin-top: 1%;
	margin-bottom: 1%;
	color: #FFF;
	text-align: left;
	font-size: 170%;
}

.playlist-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg) scale(2);
  -webkit-transform: rotate(135deg) scale(2);
}

.arrow:hover {
  border: solid #1DB954;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg) scale(2);
  -webkit-transform: rotate(135deg) scale(2);
}

#back-button {
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 6%;
	margin-left: 1%;
}

#back-button a {
	color: #FFF;
	padding: 2%;
	padding-bottom: 0;
	margin-bottom: 0;
}

#back-button:hover, #back-button a:hover {
	color: #1DB954;
}

.pl-overview {
	width: 40%;
	min-width: 400px;
	padding-right: 5%;
}

.playlist-meta {
	text-align: left;
}

.playlist-img {
	/*max-width: 300px;*/
	width: 100%;
	max-height: 400px;
	float: center;
	display: inline-block;
}

.owner-info {
	display: inline-block;
	font-size: 80%;
	padding-top: 0.5em;
}

.sort {
	/*position: fixed;*/
	display:block;
	vertical-align: bottom;
}

#sort-button {
	margin-top: 1%;
	display: block;
	width: 100%;
	margin-bottom: 5%;
}

.fan-display {
	display: none;
	position: relative;

}

.fan-display img {
	max-width: 50px;
}

.tracklist-container {
	background: #404040;
	text-align: center;
	width: 60%;
	height: auto;
	align-items: center;
	min-width: 350px;
	border-radius: 10px;
	padding-bottom: 1%;
}

.tracklist {
	/*margin-top: 2.5em;*/
	overflow: auto;
	width: 100%;
	max-height: 60vh;
	height: auto;
	text-align: center;
	min-width: 300px;
}

.tracklist .scrollable {
	overflow: auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	min-width: 300px;
}

.list {
	text-align: center;
	height: auto;
}

p.tracklist-header {
	text-align: center;
	width: auto;
	margin-right: 2%;
	padding: 1%;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 100%;
}

.track {
	/*padding: 3%;*/
	background: transparent;
	margin: 3%;
	margin-top: 0;
	width: auto;
	min-width: 50px;
	max-width: 90px;
	float: left;
	text-align: center;
}

.track img {
    width: 90px;
    height: 90px;
    min-width: 50px;
    min-height: 50px;
}

.track-cover {
	height: auto;
	padding: 0;
	margin: 0;
}

.track-caption {
	max-width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	color: #FFF;
	padding: 0;
	margin: 0;
}

.track-caption.title {
	font-size: 90%;
}

.track-caption.artist {
	font-size: 70%;
}

.mainview {
	position: absolute;
	width: 100%;
}


::-webkit-scrollbar-track {
  background-color: #1c1c1f;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #1c1c1f;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #1c1c1f;
  border-radius: 10px;
  background-color: #323438;
}
::-webkit-scrollbar-corner {
  background-color: #1c1c1f;
}


/*viewports*/
@media screen and (min-width: 768px) and (max-width: 1200px) 
{
	.container {
		width: auto;
	}
	div.pl-overview {
		padding-right: 0;
	}
	.owner-info {
		text-align: center;
		display: block;
	}
	#back-button {
		margin-top: 10%;
		margin-bottom: 0;
	}
	#playlist-title {
		text-align: center;
	}
	.tracklist-container {
		max-height: 55vh;
		width: 75vw;
	}
	.list.scrollable {
		max-height: 50vh;
		width: 75vw;
	}
	img.playlist-img {
		max-width: 25vw;
		max-height: 25vw;
	}
	.playlist-nav {
		margin-top: 2%;
	}
	.title-caption {
		width: 100%;
	}
}

@media screen and (max-width: 767px) 
{
	.pl-overview {
		padding-right: 0;
	}
	#back-button {
		margin-top: 23%;
		margin-left: 5%;
		margin-bottom: -10%;
	}
	#playlist-title {
		text-align: center;
		margin-top: 5%;
		font-size: 120%;
	}
	.playlist-display {
		margin: 0;
		padding: 0;
	}
	.playlist-cover {
		max-width: 80vw;
		max-height: 80vw;
	}
	#display-name {
		margin-top: 10%;
		font-size: 150%;
	}
	.user-display img {
		max-width: 70vw;
	}
	.header-group {
		font-size: 100%;
		margin: 0;
	}
	.title-caption {
		width: 100%;
	}
	.profile-nav {
		width: 100%;
		justify-content: center;
	}
	.welcome {
		display: none;
	}
	.playlist-nav {
		margin-top: 15%;
		text-align: center;
		justify-content: center;
		margin-left: 0;
	}
	#main-title {
		margin-bottom: 0;
	}
	.searchbox {
		margin-left: 5%;
	}
	.left-addon input{
		margin-left: -2%;
	}

	.pl-overview img {
		max-width: 50vw;
	}
	div.pl-overview {
		padding-right: 0;
		text-align: center;
	}
	.owner-info {
		text-align: center;
		display: block;
		margin-bottom: 0;
	}
	.sort {
		text-align: center;
	}
	#sort-button {
		display: inline;
		width: auto;
		margin-bottom: 2%;
	}
	.tracklist-container {
		/*max-height: 50vh;*/
		min-width: 100px !important;
		margin: 0;
		width: auto;
	}
	.tracklist-header {
		/*width: 100px;*/
		max-height: 90vh;
	}
	.list.scrollable {
		max-height: 90vh;
		margin: 0;
		/*width: 100px;*/
	}

	.loginview {
		padding: 12%;
		font-size: 80%;
	}


}












































